{% extends "base.html" %}
{% block content %}
    <h5 class="center-align tagline-emphasis">Book Reviews</h5>
    <div class="container row">
        <br>
        <div class="col s4 m4 center-align">
            <img class="responsive-img" width="255" height="300" src="{{ image_url }}" alt="Image for book front cover">
            <p>{{ book }} <em>by {{ author }}</em></p>
        </div>
        
        {% if session.user %}
        <div class="col s8 m8">
            {% if session.user == "admin" %}
                <div class="row">
                    You are currently logged in as an "Admin". Please login as a normal user to add Reviews <a href="{{ url_for('logout') }}">Logout?</a>
                </div>
            {% else %}
            <div class="row">
            <form method="POST" action="{{ url_for('add_reviews', book=book, author=author) }}" >
                <div class="input-field col s12 m12 left-align">
                     <textarea id="review_description" name="review_description" class="materialize-textarea" maxlength="400" required></textarea>
                        <label for="review_description">Your Review Here <em>(max 400 words)</em></label>
                
                <button type="submit" class="btn-small left-align lime darken-4">Add Review</button></div>
            </form>
            </div>
            {% endif %}
            {% if reviews.count() %}
                {% for review in reviews %}
                <div class="card-panel row">
                    {% if review.is_featured %}
                        <p class="red-text text-darken-4">Featured <i class="fas fa-star"></i></p>
                    {% endif %}
                    <p>{{ review.review_description }}</p>
                    <div class="left-align"><em>added by: {{ review.added_by.capitalize() }}</em></div>
                    <div class="left-align"><em>added on: {{ review.added_date }}</em></div>
                    <!-- Modal Structure -->
                        <div id="modal{{ review._id }}" class="modal">
                            <div class="modal-content">
                                <h5>Delete Record</h5>
                                <p>This record will be deleted Permanently, do you wish to continue?</p>
                            </div>
                            <div class="modal-footer">
                                <a href="#!" class="modal-close waves-effect waves-green btn-flat">No</a>
                                <a href="{{ url_for('delete_review', review_id=review._id) }}" class="modal-close waves-effect waves-green btn-flat">Yes</a>
                            </div>
                        </div>
                    {% if review.added_by|lower == session.user|lower  %}
                            <div class="right-align">
                                {% if review.is_featured %}
                                    <button data-target="modal{{ review._id }}" class="btn-small brown accent-4 modal-trigger" disabled><i class="fas fa-trash-alt"></i></button>
                                {% else %}
                                    <button data-target="modal{{ review._id }}" class="btn-small brown accent-4 modal-trigger" ><i class="fas fa-trash-alt"></i></button>
                                {% endif %}
                                <a href="{{ url_for('edit_review', review_id=review._id) }}" class="btn-small brown accent-4"><i class="fas fa-edit"></i></a>
                            </div>
                            
                    {% endif %}
                    {% if session.user == "admin" %}
                        <div class="right-align">
                            {% if review.is_featured %}
                                <button data-target="modal{{ review._id }}" class="btn-small brown accent-4 modal-trigger" disabled><i class="fas fa-trash-alt"></i></button>
                            {% else %}
                                <button data-target="modal{{ review._id }}" class="btn-small brown accent-4 modal-trigger" ><i class="fas fa-trash-alt"></i></button>
                            {% endif %}
                        </div>
                    {% endif %}
                    
                    </div>
                {% endfor %}
            {% else %}
                <div class="card-panel row">
                    No reviews have been added for this book yet
                </div>                    
            {% endif %}
          </div>
        {% else %}
        <div class="col s8 m8">
            Registered User <a href="{{ url_for('login') }}"> Login here </a>
            / New User <a href="{{ url_for('register') }}"> Register </a> to Read and Write Reviews
        </div>
        {% endif %}
    </div>
{% endblock %}