{% extends "base.html" %}
{% block content %}

<div class="row">
    <div class="col s12 m8 offset-m2">
        <h5 class="center-align light-blue-text text-darken-4">
         Welcome Admin! <br>
        </h5>
        <p class="center-align">You last logged in on : {{ last_login }}</p>
    </div>
</div>
<div class="container row">
    {% for review in featured_review %}
    <div class="col s12 m8 offset-m2">
        <strong>Current Featured Review :</strong>
        <div class="card orange lighten-4">
            <div class="card-content">
                <span class="card-title book-name deep-orange-text text-darken-4"><strong>{{ review.book_name }}</strong></span>
                <span class="card-subtitle"> <em>Author: {{ review.author_name }}</em></span>
                <p> <strong><br>Review: </strong>{{ review.review_description }}</p>
                    <span><em>by:{{ review.added_by }}</em></span>
                    <span><em>on:{{ review.added_date }}</em></span>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<div class="container row">
    <span class="col s12 m8 offset-m2 brown-text text-darken-1">
        <strong>Search Reviews By :</strong><br>
    </span>
</div>    
<div class="container row">
    <form class="col s12 m12 offset-m2 padding" method="POST" action="{{ url_for('find') }}">
        <div class="col s4 m4 light-blue-text text-darken-4 input-field">
            <input id="book_name" name="book_name" type="text" class="validate">
            <label for="book_name">Book Name</label>
        </div>    
        <div class="col s4 m4 light-blue-text text-darken-4 input-field">
            <i class="fas fa-calendar-alt prefix deep-orange-text text-darken-4 "></i>
            <input id="review_date" name="review_date" type="text" class="datepicker validate">
            <label for="review_date">Review Date</label>
        </div>
        <button id="btn-search-review-admin" class="btn-small brown darken-1" type="submit">
            <i class="fas fa-search"></i>
        </button>
    </form>
</div>

<div class="container row">

{% for review in reviews %}
 
    <div class="col s12 m3 l3">
      <div class="card orange lighten-4">
        <div class="card-content ">
          <span class="card-title book-name deep-orange-text text-darken-4"><strong>{{ review.book_name }}</strong></span>
          <span class="card-subtitle"> <em>Author: {{ review.author_name }}</em></span>
          <p> <strong><br>Review: </strong>{{ review.review_description }}</p>
            <span><em>by:{{ review.added_by }}</em></span>
        </div>
        <div class="card-action light-blue-text text-darken-4">Featured Review 
          <!-- Switch -->
           
                <div class="switch">
                    <label for="featured_{{ review._id }}">
                        No
                        {% if review.is_featured == 1 %}
                            <input type="checkbox" name="featured_{{ review._id}}" id="featured_{{ review._id }}" checked>
                            <span class="lever"></span>
                        {% else %}
                            <input type="checkbox" name="featured_{{ review._id}}" id="featured_{{ review._id }}">
                            <span class="lever"></span>
                        {% endif %}
                    Yes
                </label>
                <a href="{{ url_for('featured_review', review_id=review._id) }}" class="btn-small light-blue darken-4"><i class="fas fa-save"></i></a>
                <!-- <button type="submit" class="btn-small light-blue darken-4">
                    <i class="fas fa-save"></i></button> -->
            </div>
            
        </div>
      </div>
    </div>
   
{% endfor %}
</div>
{% endblock %}