<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css"
        integrity="sha512-xA6Hp6oezhjd6LiLZynuukm80f8BoZ3OpcEYaqKoCV3HKQDrYjDE1Gu8ocxgxoXmwmSzM4iqPvCsOkQNiu41GA==" crossorigin="anonymous" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    
    {% block styles %}
    {% endblock %}

    <title>Book Review</title>
</head>
<body>
    <header>
        <!-- Top Navbar -->
        <nav class="nav-style">
            <div class="nav-wrapper">
            <a href="{{ url_for ('home') }}" class="brand-logo text-shadow">&nbsp;Views and Reviews</a>
            <a href="{{ url_for ('home') }}" data-target="mobile-demo" class="sidenav-trigger right"><i class="fas fa-bars"></i></a>
            <ul class="right hide-on-med-and-down text-shadow text-style">
                <li><a href="{{ url_for('home') }}">Home</a></li>
                {% if session.user %}
                    {% if session.user == "admin" %}
                        <li><a href="{{ url_for('admin_profile') }}">Profile</a></li>
                        <li><a href="">Manage Categories</a></li>
                        <li><a href="{{ url_for('add_books') }}">Add Books</a></li>
                        <li><a href="{{ url_for('logout') }}">Logout</a></li>
                    {% else %}
                        <li><a href="{{ url_for('user_profile', username=session.user) }}">Profile</a></li>
                        <li><a href="{{ url_for('add_books') }}">Add Books</a></li>
                        <li><a href="{{ url_for('logout') }}">Logout</a></li>
                    {% endif %}
                {% else %}
                    <li><a href="{{ url_for('login') }}">Login</a></li>
                    <li><a href="{{ url_for('register') }}">Register</a></li>
                {% endif %}

            </ul>
            </div>
        </nav>

        <!-- Mobile Sidebar -->
        <ul class="sidenav" id="mobile-demo">
                <li><a href="{{ url_for('home') }}">Home</a></li>
                {% if session.user %}
                    {% if session.user == "admin" %}
                        <li><a href="{{ url_for('admin_profile') }}">Profile</a></li>
                        <li><a href="">Manage Categories</a></li>
                        <li><a href="{{ url_for('add_books') }}">Add Books</a></li>
                        <li><a href="{{ url_for('logout') }}">Logout</a></li>
                    {% else %}
                        <li><a href="{{ url_for('user_profile', username=session.user) }}">Profile</a></li>
                        <li><a href="{{ url_for('add_books') }}">Add Books</a></li>
                        <li><a href="{{ url_for('logout') }}">Logout</a></li>
                    {% endif %}
                {% else %}
                    <li><a href="{{ url_for('login') }}">Login</a></li>
                    <li><a href="{{ url_for('register') }}">Register</a></li>
                {% endif %}
        </ul>
            
    </header>
    <section>
        <!-- flash messages -->
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="row notification">
                        <h5 class="lime lighten-4 center-align">{{ message }}</h5>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </section>

    <content>
        <div>
             {% block content %}
             {% endblock %}
        </div>
    </content>
    <footer class="page-footer">
        <div class="container">
            <a class="grey-text text-lighten-4 center" target="_blank" href="http://www.facebook.com">
                <i class="fab fa-facebook-square footer-icons text-shadow"></i>
            </a>
            <a class="grey-text text-lighten-4 center" target="_blank" href="http://www.linkedin.com">
                <i class="fab fa-linkedin footer-icons text-shadow"></i>
            </a>
            <a class="grey-text text-lighten-4 center" target="_blank" href="http://www.pinterest.com">
                <i class="fab fa-pinterest-square footer-icons text-shadow"></i>
            </a>
            <a class="grey-text text-lighten-4 center" target="_blank" href="http://www.instagram.com">
                <i class="fab fa-instagram-square footer-icons text-shadow"></i>
            </a>
            <a class="grey-text text-lighten-4 center" target="_blank" href="mailto:aninditasom@gmail.com">
                <i class="fas fa-envelope-square footer-icons text-shadow"></i>
            </a>
        </div>
    </footer>
        <!-- Javascript library reference for JQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <!-- Compiled and minified JavaScript for materialize -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    {% block scripts %}
    {% endblock %}
</body>
</html>