{% extends "base.html" %}
{% block content %}
    <h4 class="center-align tagline-emphasis">Edit Books</h4>
    <div class="row container">
        <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('edit_books', book_id=book._id) }}">
            <div class="card-panel">
                <div class="row">
                    <div class="input-field col s12 m8 offset-m2">
                        <select id="category_name" name="category_name" class="validate" required>
                            {% for category in categories %}
                                {% if category.category_name == book.category_name %}
                                    <option value="{{ category.category_name }}" selected>{{ category.category_name }}</option>
                                {% else %}
                                    <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>

                        <label><span class="mandatory">*</span> Book Category / Genre </label>
                    </div>
                </div>
                <div class="row">
					<div class="input-field col s12 m8 offset-m2">
						<input id="book_name" name="book_name" minlength="8" maxlength="120" type="text" value="{{ book.book_name }}" class="validate" required>
						<label for="book_name"><span class="mandatory">*</span> Book Name</label>
					</div>
                </div>
                <div class="row">
                    <div class="input-field col s12 m8 offset-m2">
                        <input id="author_name" name="author_name" minlength="8" maxlength="50" type="text" value="{{ book.author_name }}" class="validate" required>
						<label for="author_name"><span class="mandatory">*</span> Author</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12 m8 offset-m2">
                        <input id="image_url" name="image_url" type="text" value="{{ book.image_url }}" >
						<label for="image_url">Book Image Url (Optional) </label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12 m8 offset-m2">
                        <textarea id="description" name="description" value="" class="materialize-textarea">{{ book.description }}</textarea>
                        <label for="description">Description of the Book (Optional)</label>
                    </div>
                </div>
                
                <div class="row">
                    <button type="submit" class="col s12 m8 offset-m2 btn-large lime darken-4">
                        <i class="fas fa-save"></i> Save Changes
                    </button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}