{% extends "base.html" %}

{% block content %}

<h5 class="center-align tagline-emphasis">Add Review</h5>
     <form class="container" method="post" action="{{ url_for('find_books', category=category)}}">
     <div class="row">
        <div class="col s12 card-panel orange lighten-5">
            <h5>Search</h5>
                <div class="input-field col s5">           
                    <select id="category" name="category" class="validate" required>
                    <!-- <option value=""></option> -->
                    {% for category in categories %}
                        <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                    {% endfor %}
                </select>
                <label>Select Book Category / Genre </label></div>
                <div class="input-field col s5">
                    <input placeholder="Search Text" id="Search" name="search" type="text" class="validate">
                </div>
                <button class="btn brown darken-1" type="submit">
                    <i class="fas fa-search"></i>
                </button>
            </div>
      </div>
</form>
{% endblock %}
