{% extends "base.html" %}
{% block content %}
    <h5 class="center-align tagline-emphasis">Reset Password</h5>
    <div class="row">
        <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('forgot_password') }}">
            <div class="card-panel">
                <div class="row">
                    <div class="input-field col s12 m8 offset-m2 ">
						<i class="fas fa-user-plus prefix brown-text darken-4"></i>
						<input id="username" name="username" minlength="5" maxlength="15" pattern="^[a-zA-z0-9]{5,15}$" type="text" class="validate" required>
                        <label for="username">User-name</label>
                        <div class="pattern-text right-align">(5-15 characters & should be a combination of letters and number only)</div>
					</div>
                </div>
                <div class="row">
                    <div class="input-field col s12 m8 offset-m2 ">
						<i class="fas fa-user-plus prefix brown-text darken-4"></i>
						<input id="email" name="email" minlength="8" maxlength="30" type="email" class="validate" required>
                        <label for="username">Registered Email Id</label>
                    </div>
                </div>
                <div class="row">
            		<div class="input-field col s12 m8 offset-m2 ">
						<i class="fas fa-key prefix brown-text darken-4"></i>
						<input id="new_password" name="new_password" minlength="5" maxlength="15" pattern="^[a-zA-z0-9]{5,15}$" type="password" class="validate" required>
                        <label for="new_password">Enter New Paswword</label>
                        <div class="pattern-text right-align">(5-15 characters & should be a combination of letters and number only)</div>
					</div>
                </div>
                <div class="row">
                    <div class="input-field col s12 m8 offset-m2">
                    	<i class="fas fa-key prefix brown-text darken-4"></i>
                        <input id="reenter_password" name="reenter_password" type="password" minlength="5" maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                        <label for="reenter-password">Re-enter Password</label>
                    </div>
                </div>
                <!-- Change Password -->
                <div class="row">
                    <button type="submit" class="col s12 m8 offset-m2 btn-large lime darken-4">
                        Change Password <i class="fas fa-sign-in-alt"></i>
                    </button><br>  
                </div>
                <div class="row center-align"> <a class = "center-align" href="{{ url_for('login') }}">Login with new password</a></div>
            </div>
        </form>
    </div>
{% endblock %}