{% extends "base.html" %}
{% block content %}
    <h5 class="center-align tagline-emphasis">Forgot Password</h5>
          <!-- <div class="hero_thumbnail col s2"></div> -->
    <div class="row">

        <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('login') }}">
            <div class="card-panel">
                <div class="row">
                    <!-- <div class="hero_thumbnail col s2"></div> -->
					<div class="input-field col s12 m8 offset-m2 ">
						<i class="fas fa-key prefix brown-text darken-4"></i>
						<input id="new_password" name="new_password" minlength="5" maxlength="15" pattern="^[a-zA-z0-9_]{5-15}$" type="password" class="validate">
						<label for="username">Enter New Paswword</label>
					</div>
                </div>
                <div class="row">
                    <div class="input-field col s12 m8 offset-m2">
                    	<i class="fas fa-key prefix brown-text darken-4"></i>
                        <input id="reenter-password" name="reenter-password" type="password" minlength="5" maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate">
                        <label for="password">Re-enter Password</label>
                    </div>
                </div>
                <!-- Change Password -->
                <div class="row">
                    <button type="submit" class="col s12 m8 offset-m2 btn-large lime darken-4">
                        Change Password <i class="fas fa-sign-in-alt"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}