{% extends "base.html" %}
    {% block content %}
    <br>
        <div class="container">
            <div class="row">
                <div class="col s12 m12, l12">
                    <span class="tagline-emphasis">Love Reading? </span> <span class="tagline">Share your Views on any books and enjoy reading other's Reviews too.. 
                        Browse from the below listed Category of Books</span>
                    <div class="row l8 m8 s12" id="homeCategories">
                    {% for category in categories %}
                        <a class="btn deep-orange darken-4" href="{{ url_for('category_list', category=category.category_name) }}">{{ category.category_name }}</a>
                    {% endfor %}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12 m12 l6">
                    
                    <div class="card">
                    <div class="card-image">
                        <!-- section for image -->
                        <img id="hero-image" src="static/images/Book_Hero.jpg" alt="Site image for Book Review">
                    </div>
                    </div>

                    
                </div>
                <div class="col s12 m12 l6">
                    <div class="card">
                        <div class="card-content  orange lighten-4">
                        <span class="card-title">Featured Review</span>
                        <p> -- Review Text and Image --- 
                            I am a very simple card. I am good at containing small bits of information.
                            I am convenient because I require little markup to use effectively.
                            I am a very simple card. I am good at containing small bits of information.
                            I am convenient because I require little markup to use effectively
                            I am a very simple card. I am good at containing small bits of information.
                            I am convenient because I require little markup to use effectively
                        </p>
                        <span> <a href="">Read More...</a></span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- search section -->
            <div class="row">
                {% include 'search_include.html' %}
            </div>
        </div>
        
        
    {% endblock %}
