{% extends "base.html" %}
    {% block content %}
    <br>
        <div class="row container">
            <div class="col s12 m12, l12">
                <span class="tagline-emphasis">Love Reading? </span> <br> <span class="tagline">Share your Views on any books and enjoy reading other's Reviews too.. 
                    Browse from Categories listed below <br><br></span> 
                <div class="row l8 m8 s12" id="homeCategories">
                    
                {% for category in categories %}
                    <a class="btn deep-orange darken-4" href="{{ url_for('category_list', category=category.category_name) }}">{{ category.category_name }}</a>
                {% endfor %}
                </div>
            </div>
            <div class="row">
                <div class="col s12 m12 l6">
                    <div class="card">
                    <div class="card-image">
                        <!-- section for image -->
                        <img id="hero-image" src="static/images/ViewsAndReviews_Hero.png" alt="Site image for Book Review">
                    </div>
                    </div>
                </div>
                <div class="col s12 m12 l6">
                    {% for review in featured_review %}
                    <div class="card">
                        <div class="card-content orange lighten-4">
                        <span class="card-title home-Feature brown-text text-darken-4">Featured Review</span>
                        <span class="card-subtitle"><strong>{{ review.book_name }}</strong>
                        <em> | Author: {{ review.author_name }}</em>
                        </span><br>
                        <strong><br>Review: </strong>{{ review.review_description }}
                            <span><em><br><br>Reviewed by:{{ review.added_by.capitalize() }}</em></span>
                            <span><em>, on:{{ review.added_date }}</em></span>
                        <span> <a href="{{ url_for('add_reviews', book=review.book_name) }}">Read More...</a></span>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <!-- search section -->
            <div class="row">
                {% include 'search_include.html' %}
            </div>
        </div>
        
    {% endblock %}
