{% extends "base.html" %}
{% block content %}
    <h5 class="center-align tagline-emphasis">New User Registration</h5>
    <div class="row">
        <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('register') }}">
            <div class="card-panel">
                <div class="row">
					<div class="input-field col s12 m8 offset-m2">
						<i class="fas fa-user-plus prefix brown-text darken-4"></i>
						<input id="username" name="username" minlength="5" maxlength="15" pattern="^[a-zA-z0-9_]{5-15}$" type="text" class="validate">
						<label for="username">User-name</label>
					</div>
                </div>
                <div class="row">
					<div class="input-field col s12 m8 offset-m2">
						<i class="fas fa-user-edit prefix brown-text darken-4"></i>
						<input id="email" name="email" minlength="8" maxlength="30" type="email" class="validate">
						<label for="username">Email-ID</label>
					</div>
                </div>
                <div class="row">
                    <div class="input-field col s12 m8 offset-m2">
						<i class="fas fa-user-lock prefix brown-text darken-4"></i>
                        <input id="password" name="password" type="password" minlength="5" maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$"class="validate">
                        <label for="password">Password</label>
                    </div>
                </div>
                <!-- register -->
                <div class="row">
                    <button type="submit" class="col s12 m8 offset-m2 btn-large lime darken-4">
                        Register <i class="fas fa-sign-in-alt"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}