{% extends "base.html" %}
{% block content %}
<h4 class="center-align tagline-emphasis">Search Books</h4>
    <div class="row container">
        <div class="class=col s12 center-align lime-text text-darken-4 bigger-font-18">
            <br> Search for Books by selecting any category and/or providing the name of the book. <br>
            If no filter conditions are provided your search would return all Books in the website<br><br>
        </div>
        <form class="col s12 card-panel orange lighten-5" method="POST" action="{{ url_for('filtered_books') }}">
            <h5>Search By</h5>
            <div class="input-field col s5">
                <select id="category" name="category">
                    <option value="0" disabled selected> Categories</option>
                    {% for category in search_categories %}
                    <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="input-field col s5">
                <input placeholder="Book Name" id="keywords" name="keywords" type="text" class="validate">
            </div>
            <!-- search -->
            <div class="col s2">
                <button class="btn brown darken-1" type="submit">
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </form>
    </div>
{% endblock %}